<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health recommendation System</title>
    <link rel="icon" href="img/logo.png" type="img/png">
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <section id="001">
    <div class="chat-container"></div>
        <h1>Medicine Suggestion</h1>
        <div class="chat-box">
            <input type="text" id="symptomInput" placeholder="Enter your symptoms (e.g., fever, cough), etc">
            <button>Get Medicine Suggestions</button>
        </div>
        <div id="result" class="result"></div>
        <button id="clearButton" class="clear-button">Clear</button>
    </div>
    </section>
    <br> <hr>
    <section class="footer">
        <h4>About us</h4>
        <p>We are dedicated to revolutionizing healthcare by making medical assistance accessible, reliable, and user-friendly. Our chat interface provides personalized medicine recommendations and symptom diagnosis, ensuring that you get the right guidance when you need it the most.</p>
            <div class="icons">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-twitter"></i>
                <i class="fa fa-instagram"></i>
                <i class="fa fa-linkedin"></i>
    
            </div>
            <p>Copyrights
            </p>
        </section>    
    <script src="/static/script.js"></script>
</body>
</html>
